.section_Contain{
  margin-top: 400px;
}

.home_header{
font-size: 25px;
margin-left: -100px;
color:black;
}













.home_about_description{
  margin-top: 300px;
  color: black;
}
.home_about_social{
  color: black;
}